<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">

  <title>PergiKuliner App</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Skip to content ?</a>
  <div class="wrapper">
    <nav>
      <div class="container-flex">
        <div class="brand">
            <a href="">PergiKuliner App</a>
         </div>
         <button class="burger">
            <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
         </button>
         <div class="bg-sidebar"></div>
         <ul class="sidebar">
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/wiwin-agustina-2b6281249/">About Us</a></li>
         </ul>
      </div>
    </nav>
  </div>

  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">PergiKuliner</h1>
      <p class="hero__tagline">Bingung Mau Makan Dimana? PergiKuliner Ajaa</p>
    </div>
  </div>
  <main id="maincontent">
    <section class="content">
        <div class="headline">
            <h1>Explore Restaurant</h1>
            <div class="list" id="restaurant"></div>
        </div>
    </section>
</main>
<!-- Footer -->
<footer>
    <p>Copyright © 2022 - PergiKuliner Apps</p>
</footer>
</body>
</html>